@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row rowintro">
        <h1>TRAVEL HACK</h1>
        <h4>This is the greatest case of false advertising I've seen since I sued the movie "The Never Ending Story." Hi. I'm Troy McClure. You may remember me from such self-help tapes as "Smoke Yourself Thin" and "Get Some Confidence, Stupid!"</h4>

    </div>
    <div class="row row-1">
        <div class="col-12">
            <div class="carousel__container">
                @*<div class="carousel__item">
                        <img src="~/Content/ImageRepository/rsz_pexels-photo-411472.jpg" class="carousel__image">
                    </div>*@
                <div class="carousel__item">
                    <img src="~/Content/ImageRepository/rsz_pexels-photo-420233.jpg" class="carousel__image">
                </div>
                @*<div class="carousel__item">
                        <img src="~/Content/ImageRepository/rsz_pexels-photo-449627.jpg" class="carousel__image">
                    </div>*@
                <div class="carousel__item">
                    <img src="~/Content/ImageRepository/rsz_pexels-photo-507410.jpg" class="carousel__image">
                </div>
                <div class="carousel__item">
                    <img src="~/Content/ImageRepository/rsz_pexels-photo.jpg" class="carousel__image">
                </div>
                @*<div class="carousel__item">
                        <img src="~/Content/ImageRepository/rsz_rugby-sports-players-competition-73763.jpg" class="carousel__image">
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="container container-index-two">
    <div class="video-background">
        <div class="video-foreground">
            <iframe src="https://www.youtube.com/embed/1tp-N8j6oSE?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=1tp-N8j6oSE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Read Reviews</h2>
            <p>
                Read reviews of exciting travel hacks from readers like you.
            </p>
            <p><a class="btn btn-default" href="~/Reviews/Index">Reviews &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2>Write a Review</h2>
            <p>Here is your chance to tell us about your greatest travel hack.</p>
            <p><a class="btn btn-default" href="~/Reviews/Create">Write Review &raquo;</a></p>
        </div>

    </div>
</div>